@red: #ab1d22;
@gray: gray;
@green:green;


h1, h2{
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
	color:@red;

}
h3{
	font-size: 18px;
	text-align: center;
}
.testingGuide, .statistic, .addVocabulary-box{
	border: 1px solid @gray;
	min-height: 300px;
	text-align: center;
}

@media screen and (min-width:992px ) {
	.container{
		width: 100%;
		max-width: 1240px;
	}

}

.testingGuide{
	a, button{
		margin-bottom: 5px;
		min-width: 200px;
	}
}

.vocabulary-list{
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		border: 1px solid @gray;
		min-height: 20px;
		line-height: 20px;
		position: relative;
		margin-left: -1px;
		margin-top: -1px;
		text-align: left;
		.word-input{
			display: block;
			height: 32px;
			span{
				display: inline-block;
				width: ~"calc(100% - 30px)";
				padding: 5px;
			}
		}
		.cross{
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 5px;
			cursor:pointer;
		}
		input[type=text]{
			padding: 5px;
			width: ~"calc(100% - 30px)";
			border:1px solid @gray;
		}
		&.hacky{
			background-color: beige;
		}


	}
}
.todo-list{
	ul{
		list-style:none;
	}
}
.glyphicon-ok, .text-green{
	color:@green;
}
.glyphicon-remove, .text-red{
	color: @red;
}

.actualLetter {
  font-size: 50px;
  text-align: center;
	font-family: monospace;
	display: block;
	width: 100%;
	padding: 15px 0;
}
.shake{

	-webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	-moz-animation:shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	-moz-animation:shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;

	-ms-transform:translate3d(0, 0, 0);
	-webkit-transform:translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {
	10%, 90% {
		-ms-transform:translate3d(-1px, 0, 0);
		-webkit-transform:translate3d(-1px, 0, 0);
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {

		-ms-transform:translate3d(2px, 0, 0);
		-webkit-transform:translate3d(2px, 0, 0);
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		-ms-transform:translate3d(-4px, 0, 0);
		-webkit-transform:translate3d(-4px, 0, 0);
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
		-ms-transform:translate3d(4px, 0, 0);
		-webkit-transform:translate3d(4px, 0, 0);
		transform: translate3d(4px, 0, 0);
	}
}
#allWrittenLetters{
	font-family: monospace;
	min-height: 5.5em;
	font-size: 16px;
	background-color: lightgray;
	border: 1px solid @gray;
	span{
		color:@red;
		font-weight: 900;
	}
}