@red: #ab1d22;
@gray: gray;
@green:green;


h1, h2{
	font-size: 25px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 40px;
	color:@red;

}
h3{
	font-size: 18px;
	text-align: center;
}
.testingGuide, .statistic, .addVocabulary-box{
	border: 1px solid @gray;
	min-height: 300px;
	text-align: center;
}

@media screen and (min-width:992px ) {
	width: 100%;
	max-width: 1240px;
}

.testingGuide{
	button{
		margin-bottom: 5px;
		min-width: 200px;
	}
}

.vocabulary-list{
	text-align: left;
	list-style: none;
	margin: 0;
	padding: 0;
	li{
		border: 1px solid @gray;
		min-height: 20px;
		line-height: 20px;
		position: relative;
		margin-left: -1px;
		margin-top: -1px;
		text-align: left;
		.word-input{
			display: block;
			height: 32px;
			span{
				display: inline-block;
				width: ~"calc(100% - 30px)";
				padding: 5px;
			}
		}
		.cross{
			position: absolute;
			right: 0;
			bottom: 0;
			padding: 5px;
		}
		input[type=text]{
			padding: 5px;
			width: ~"calc(100% - 30px)";
			border:1px solid @gray;
		}
		&.hacky{
			background-color: beige;
		}


	}
}
.todo-list{
	ul{
		list-style:none;
	}
}
.glyphicon-ok{
	color:@green;
}
.glyphicon-remove{
	color: @red;
}